@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.wave-animation {
    animation: wave 3s ease-in-out infinite;
}

@layer components {
    .transition-all {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
    }
  }

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
